@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  font-family: Inter;
}

:root {
  --color-FFCD11: #ffcd11;
  --color-ECBA00: #ecba00;
  --color-D1D1D1: #d1d1d1;
  --color-333333: #333333;
  --color-444444: #444444;
}


button{
    cursor: pointer;
}